/*Fonts and color*/
.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style:unset;
}
.instrument-sans-regular {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --light-clr:#FDF7F0;
    --dark-clr:#1B1B1B;
    --primary-clr:#4B4259;
}

/*Body and text*/
body{
    background-color: var(--light-clr);
    background-image: url(/assets/icons/bg-texture.jpg);
    background-size: cover;
    color: #1B1B1B;
}

a{
    text-decoration: none;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
h1,h2{
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}
summary{
    font-size: 4rem;
    padding: 2rem;
     font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style:unset;
}
p{  
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
}

/*intro*/
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    margin-bottom: 15rem;
}
.intro-text{
    margin: 2rem;
}
.intro img{
    border-right: 5px solid #1B1B1B ;
    padding: 2rem;
    max-width: 30%;
    
}
.intro h1{
    line-height:8rem;
    font-size: 8rem;
    max-width: 100rem;
}
.intro p{
    font-size: 3rem;
    max-width: 100rem;
}
.about-btn{
    font-size: 2rem;
    border-radius: 20px;
    padding: 20px;
    background-color: #4B4259;
    color: #FDF7F0;
    margin: 4rem 2rem;
}

/*Portfolio*/
details{
    margin: 4rem 12rem;
}
summary{
    border-bottom: 5px solid #4B4259;
    padding: 0rem;
    cursor: pointer;
    font-size: 5rem;
    max-height: fit-content;
}
summary::marker{
    content: none;
}
details h2{
    line-height: 2rem;
    font-size: 3rem;
    margin: 1rem 0.5rem;
}
details p{
    font-size: 2rem;
    margin: 0.5rem;
}
.portfolio-grid{
columns: 3;
margin: 1rem;
}
.display{
    display: inline-block;
    margin: 1rem;
    border: rgb(27, 27, 27, 0) solid 10px;
}
.display img{
max-width: 100%;
border-radius: 20px;
}

/*the snazzy stuff*/
.display:hover{
    transform: scale(1.02);
    transition: 0.1s ease-in-out;
}
