/*Fonts and color*/
.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style:unset;
}
.instrument-sans-regular {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --light-clr:#FDF7F0;
    --dark-clr:#1B1B1B;
    --primary-clr:#4B4259;
}

/*Body and text*/
body{
    background-color: var(--light-clr);
}

a{
    color: var(--dark-clr);
    text-decoration: none;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
h1,h2{
    color: var(--dark-clr);
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}
p{  
    color: var(--dark-clr);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
}

/*intro*/
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}
.intro-text{
    margin: 2rem;
}
.intro img{
    border-right: 5px solid #1B1B1B ;
    padding: 2rem;
    
}
.intro h1{
    line-height:8rem;
    font-size: 8rem;
    max-width: 100rem;
}
.intro p{
    font-size: 3rem;
    max-width: 100rem;
}
.about-btn{
    font-size: 2rem;
    border-radius: 10px;
    padding: 15px;
    background-color: #4B4259;
    color: #FDF7F0;
    margin: left 2rem;
}