/*Fonts and color*/
.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style:unset;
}
.instrument-sans-regular {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --light-clr:#FDF7F0;
    --dark-clr:#1B1B1B;
    --primary-clr:#4B4259;
}

/*POP UP BODY*/
.pop-up h3, .pop-up p{
    color: #1B1B1B;
}

.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  visibility: hidden;
  backdrop-filter: blur(4px);
}
.pop-up img{
    border-radius:1rem ;
}
.pop-up-content {
  transform: scale(0.8);
  background: rgba(230, 223, 230, 0.95);
  border-radius: 2rem;
  padding: 1rem;
  display: inline-block;
  width: 70rem;
  max-height: fit-content;
  max-width: 100%;
}
.content{
    display: inline-block;
    justify-content: space-evenly;
    width: 70rem;
    height: 52rem;
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.main-content{
    display: inline-block;
    columns: 2;
    justify-content: center;
    width: 70rem;
    max-height: fit-content;
    max-width: 100%;
}
.main-content img{
    max-width: 100%;
    max-height: 60% ;
    margin: 1rem 0rem;
}
iframe{
    border-radius: 1rem;
    max-width: 100%;
    height: 800px;
}
.pop-up-text{
max-width: 90ch;
max-height: fit-content;
  margin: 0rem 2rem;
}


/*GALLERY (the gallery did NOT want to work with me)*/
.gallery-grid{
  display: inline-block;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  columns: 3;
  justify-content: space-evenly;
}

.gallery img{
max-width: 100%;
margin: 0.3rem 0rem;
}

/*Text and buttons (just 1)*/
.pop-up h3{
    font-family: "Konkhmer Sleokchher", system-ui;
    line-height:3rem;
    margin: 0rem;
    font-size: 3rem;
}
.pop-up p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.pop-up-close-btn img{
    max-width: 35px
}
.pop-up-close-btn {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  left: 1080px;
}

/*Snazzy stuff*/
.pop-up-close-btn:hover {
  opacity: 0.9;
}
.pop-up:target {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: visible;
  transition: 0.2s ease-in-out;
}
.pop-up:target > .pop-up-content{
    transform: scale(1);
  transition: 0.2s ease-in-out;
}
/*the better version*/
@media(prefers-color-scheme: dark){
    .pop-up-content{
        background-color: rgba(20, 17, 24, 0.95);
        background-blend-mode: multiply;
    }
    .pop-up p, .pop-up h3{
        color: #f1e9dd;
    }
    .btn-icons img, .pop-up-close-btn img, .logo{
         filter: invert(92%) sepia(20%)
    }
}